---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { fade } from "astro:transitions";
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div transition:animate={fade({ duration: "300ms" })}>
    <h1>{pageTitle}</h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            pubDate={post.data.pubDate}
          />
        ))
      }
    </ul>

    <a href="/tags/">All Tags</a>
  </div>
</BaseLayout>
