---
import { Image } from "astro:assets";
import profilePic from "../assets/profile-pic.jpeg";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import LanguagesLogos from "../components/LanguagesLogos.astro";
const allPosts = await getCollection("posts");
const me = "Francesco Menghi";
const description = `The personal website of ${me}`;
---

<BaseLayout pageTitle={me} description={description}>
  <main>
    <div class="introduction">
      <Image
        class="smooth-shadow"
        height={200}
        densities={[3]}
        id="profile-picture"
        src={profilePic}
        alt={`Portrait of ${me}`}
        loading="eager"
      />
      <h1>{me}</h1>
      <h2 class="subtitle">Software Developer</h2>
      <LanguagesLogos />
    </div>
    <p class="description">
      Ciao! 👋 I'm Francesco, I'm a software developer interested in all things
      Web Development and Open Source.
    </p>
    <h2>Latest Posts</h2>
    <ul class="latest-posts">
      {
        allPosts
          .slice(0, 3)
          .map((post) => (
            <BlogPost
              featured
              url={`/blog/${post.slug}`}
              title={post.data.title}
              pubDate={post.data.pubDate}
            />
          ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(var(--text2), var(--text1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .latest-posts {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .introduction {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .subtitle {
    margin: 0;
    opacity: 80%;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
  }

  .description {
    opacity: 90%;
  }

  #profile-picture {
    margin: 1rem;
    border-radius: 20%;
  }

  @media screen and (max-width: 700px) {
    .latest-posts {
      flex-direction: column;
    }
  }
</style>
