---
import { Image } from "astro:assets";
import profilePic from "../assets/profile-pic.jpeg";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const me = "Francesco Menghi";
---

<BaseLayout pageTitle={me}>
  <main>
    <div class="introduction">
      <Image
        class="rad-shadow"
        height={200}
        densities={[2]}
        id="profile-picture"
        src={profilePic}
        alt={`Portrait of ${me}`}
        loading="eager"
      />
      <h1>{me}</h1>
      <h2 class="subtitle">Software Developer</h2>
      <p class="description">
        Hello! 👋 I am a Software Developer enthusiastic about web development
        and Open Source. I graduated from Seneca College with a Computer
        Programming and Analysis diploma. In my past life, I worked in finance
        with a Bachelor's in Economics from York University. I enjoy travelling
        ✈️ playing football ⚽️ and being outdoors 🌳
      </p>
    </div>
    <h2>Latest Posts</h2>
    <ul class="latest-posts">
      {
        allPosts
          .slice(0, 3)
          .map((post) => (
            <BlogPost
              featured
              url={`/blog/${post.slug}`}
              title={post.data.title}
              pubDate={post.data.pubDate}
            />
          ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  h1 {
    margin: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .latest-posts {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .subtitle {
    opacity: 80%;
    font-style: italic;
  }

  .description {
    opacity: 90%;
  }

  #profile-picture {
    margin: 1rem;
    border-radius: 20%;
  }

  @media screen and (max-width: 700px) {
    .latest-posts {
      flex-direction: column;
    }
  }
</style>
