---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import { Image, getImage } from "astro:assets";

import profilePic from "../assets/profile-pic.jpeg";
import telescopeScreenshot from "../assets/telescope-thumbnail.png";
import nycRestaurantsScreenshot from "../assets/nyc-restaurant-app.png";
import groceryStoreScreenshot from "../assets/grocery-store-frontend.png";

const profilePic1x = await getImage({
  src: profilePic,
  width: 200,
});
const profilePic2x = await getImage({
  src: profilePic,
  width: 400,
});
---

<Layout title="Francesco Menghi">
  <main>
    <header>
      <div class="header content-wrap">
        <picture>
          <source srcset={profilePic2x.src} media="(min-resolution: 2dppx)" />
          <img
            id="profile-picture"
            src={profilePic1x.src}
            {...profilePic1x.attributes}
            alt="Profile picture"
          />
        </picture>
        <h1>Francesco Menghi</h1>
        <h2 class="subtitle">Software Developer</h2>
        <p class="description">
          Recent computer programming and analysis graduate with experience in
          Open Source development. Eager to learn, grow and contribute in the
          software development space.
        </p>
      </div>
    </header>

    <section class="projects">
      <div class="content-wrap divider">
        <h2>Featured Projects</h2>

        <!-- Project 1 -->
        <Project
          title="Telescope (Contributor)"
          body="Worked with a group of students on Telescope: a blogging aggregator web application built using a React frontend and many micro-services as backend."
          image={telescopeScreenshot}
          imagePos="left"
          imageAlt="Telescope app homepage screenshot"
          appLink="https://telescope.cdot.systems/"
          codeLink="https://github.com/Seneca-CDOT/telescope"
        />

        <!-- Project 2 -->
        <Project
          title="React App"
          body="Designed and implemented a React web app to display restaurants in New York City using the MongoDB Atlas sample database, React-Bootstrap components and Leaflet maps."
          image={nycRestaurantsScreenshot}
          imagePos="right"
          imageAlt="React restaurant app screenshot"
          appLink="https://restaurants-app-menghif.vercel.app"
          codeLink="https://github.com/menghif/restaurants-app"
        />

        <!-- Project 3 -->
        <Project
          title="Grocery Store Frontend"
          body="Designed and implemented the frontend for a grocery store using HTML, CSS and Javascript."
          image={groceryStoreScreenshot}
          imagePos="left"
          imageAlt="Grocery store frontend screenshot"
          appLink="https://menghif.github.io/grocery-store-frontend/"
          codeLink="https://github.com/menghif/grocery-store-frontend/"
        />
      </div>
    </section>

    <footer>
      <div class="content-wrap">
        <h2>Let's Keep in Touch!</h2>
        <ul class="contact-list">
          <li>
            <img
              class="icon"
              alt="Email icon"
              width="25rem"
              height="25rem"
              src="email.svg"
            />
            <a href="mailto:francescomenghi@gmail.com">Email</a>
          </li>
          <li>
            <img
              class="icon"
              alt="Github icon"
              width="25rem"
              height="25rem"
              src="github.svg"
            />
            <a href="http://github.com/menghif">Github</a>
          </li>
          <li>
            <img
              class="icon"
              alt="Mastodon icon"
              width="25rem"
              height="25rem"
              src="mastodon.svg"
            />
            <a rel="me" href="https://social.lol/@francesco">Mastodon</a>
          </li>
          <li>
            <img
              class="icon"
              alt="Blog icon"
              width="25rem"
              height="25rem"
              src="blog.svg"
            />
            <a href="http://dev.to/menghif">Blog</a>
          </li>
          <li>
            <img
              class="icon"
              alt="LinkedIn icon"
              width="25rem"
              height="25rem"
              src="linkedin.svg"
            />
            <a href="http://linkedin.com/in/menghif">LinkedIn</a>
          </li>
        </ul>
      </div>
    </footer>
  </main>
</Layout>

<style is:global>
  body {
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }

  a {
    color: #8ecae6;
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 60px;
    line-height: 1;
  }
  h2 {
    font-size: 30px;
  }
  h1,
  h2 {
    font-weight: 400;
    margin: 0;
  }
  .content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }
  h3 {
    margin-bottom: 0;
  }
  .subtitle {
    opacity: 80%;
    font-style: italic;
  }
  .divider > section {
    border-bottom: 1px dashed var(--color-text);
    padding: 25px 0;
  }
  .divider > section:last-of-type {
    border-bottom: none;
  }

  #profile-picture {
    animation: 0.5s ease-out 0s 1 slideInTopImage;

    margin-bottom: 1rem;
    border-radius: 50%;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem #2e2e2e);
  }

  header {
    animation: 0.5s ease-out 0s 1 slideInTop;
    background-image: linear-gradient(
      0deg,
      hsl(200deg 95% 14%) 0%,
      hsl(200deg 100% 13%) 7%,
      hsl(201deg 100% 13%) 13%,
      hsl(202deg 100% 12%) 19%,
      hsl(203deg 100% 11%) 25%,
      hsl(204deg 100% 11%) 30%,
      hsl(205deg 100% 10%) 36%,
      hsl(207deg 100% 9%) 42%,
      hsl(208deg 100% 9%) 48%,
      hsl(211deg 100% 8%) 55%,
      hsl(214deg 100% 7%) 63%,
      hsl(220deg 100% 7%) 73%,
      hsl(0deg 0% 0%) 93%
    );
    color: #f7fff7;
  }

  .description {
    opacity: 80%;
  }

  .logos {
    width: 1.5rem;
  }

  /* Projects --------------------------------------*/
  .projects {
    background: var(--color-background);
  }

  .project-info {
    margin: 1rem;
  }

  .project-item {
    overflow: hidden;
  }
  .project-item h3 {
    margin-top: 0;
  }

  /* Contact Info ---------------------------------*/
  footer {
    background: var(--color-footer);
    color: #f7fff7;
  }
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  .contact-list li {
    padding: 1rem;
  }
  .contact-list img {
    vertical-align: text-bottom;
  }

  .contact-list a {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: center;
  }

  .icon {
  }

  /* Responsive ----------------------------------*/
  @media screen and (min-width: 750px) {
    header,
    footer {
      text-align: center;
    }
    .left-image {
      float: left;
      margin-right: 20px;
    }

    .right-image {
      float: right;
      margin-left: 20px;
    }

    .contact-list {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 749px) {
    h1 {
      font-size: 60px;
      line-height: 0.9;
      margin-bottom: 20px;
    }
    h2 {
      line-height: 1;
    }
    .contact-list li {
      padding: 0.7rem;
    }
  }
</style>
