---
import { Image } from "astro:assets";

interface Props {
  title: string;
  type: string;
  body: string;
  image: ImageMetadata;
  imageAlt: string;
  appLink: string;
  codeLink: string;
}

const { title, type, body, image, imageAlt, appLink, codeLink } = Astro.props;
---

<section class="project-item rad-shadow">
  <div class="screenshot">
    <a href={appLink ? appLink : codeLink}
      ><Image src={image} alt={imageAlt} loading="eager" /></a
    >
  </div>
  <div class="project-info">
    <h2>{title}</h2>
    <p>{body}</p>
    {
      appLink != "" ? (
        <a class="link" href={appLink}>
          <span />
          View {type}
          <span />
        </a>
      ) : (
        <span />
      )
    }
    <a class="link" href={codeLink}>
      <span></span>
       Source Code
      <span></span>
    </a>
  </div>
</section>

<style>
  .project-item {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1.2vw;
    background-color: var(--surface3);
  }

  .screenshot {
    flex: 2;

    transition: 300ms ease all;
    &:hover {
      cursor: pointer;
      transform: perspective(600px) rotateY(6deg) scale(1.05);
      filter: blur(0);
      opacity: 1;
    }
  }
  .project-info {
    flex: 3;
  }
  /* 
  html.dark .project-item {
    background-color: #242433;
    box-shadow: 0 0 2rem 0.5rem hsla(200, 94%, 14%, 0.2);
  } */

  img {
    width: 20rem;
    object-fit: cover;
  }

  h2 {
    margin-top: 0;
  }
  /* 
  .link {
    margin-right: 0.4rem;
    font: inherit;
    cursor: pointer;
    background-color: var(--color-buttons);
    padding: 0.5rem 1rem;
    border: 0.1rem solid #14132c;
    border-radius: 0.9rem;
    display: inline-block;
    transition: background-color 250ms;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #14132c;
    transition: color 300ms;
  }

  html.dark .link {
    color: #f1f5f9;
    border: 0.1rem solid #f1f5f9;
  }

  html.dark .link::before {
    background: hsla(200, 94%, 34%, 0.3);
  }

  .link:hover {
    background: var(--color-buttons-dim);
  }

  .link > span {
    position: absolute;
    width: 33.33%;
    height: 100%;
    opacity: 50%;
  }

  .link > :first-child {
    left: 0;
    top: 0;
  }
  .link > :last-child {
    right: 0;
    top: 0;
  }

  .link::before {
    content: "";
    position: absolute;
    background: hsla(200, 94%, 14%, 0.2);
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition:
      transform 1000ms,
      opacity 1000ms;
  }

  .link:active::before {
    transform: scale(25);
    opacity: 1;
    transition:
      transform 500ms,
      opacity 250ms;
  }

  .link:has(:first-child:active)::before {
    margin-left: 0;
  }

  .link:has(:last-child:active)::before {
    margin-right: 0;
  }

  .link:has(:first-child:active)::before .link:has(:last-child:active)::before {
    transition:
      transform 250ms,
      opacity 250ms;
  } */

  @media screen and (max-width: 600px) {
    .project-item {
      display: block;
    }
  }
</style>
