---
import { Image } from "astro:assets";

interface Props {
  title: string;
  type: string;
  body: string;
  image: ImageMetadata;
  imageAlt: string;
  appLink: string;
  codeLink: string;
}

const { title, type, body, image, imageAlt, appLink, codeLink } = Astro.props;
---

<section class="project-item smooth-shadow">
  <div class="screenshot">
    <a href={appLink ? appLink : codeLink}
      ><Image src={image} alt={imageAlt} loading="eager" /></a
    >
  </div>
  <div class="project-info">
    <h2>{title}</h2>
    <p>{body}</p>
    {
      /* prettier-ignore */
      appLink && <a class="link" href={appLink}>View {type}</a>
    }
    <a class="link" href={codeLink}> Source Code</a>
  </div>
</section>

<style>
  p {
    font-size: 1.1rem;
  }

  .project-item {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1.2vw;
    background-color: var(--surface3);
  }

  .screenshot {
    flex: 2;

    transition: 300ms ease all;
    &:hover {
      cursor: pointer;
      transform: perspective(600px) rotateY(6deg) scale(1.05);
      filter: blur(0);
      opacity: 1;
    }
  }
  .project-info {
    flex: 3;
  }

  img {
    width: 20rem;
    object-fit: cover;
  }

  h2 {
    margin-top: 0;
  }

  .link {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 600px) {
    .project-item {
      display: block;
    }
  }
</style>
