---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
const { pageTitle, description } = Astro.props;
const me = "Francesco Menghi";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="fediverse:creator" content="@francesco@social.lol" />
    <title>
      {Astro.url.pathname === "/" ? pageTitle : `${pageTitle} | ${me}`}
    </title>
    <ViewTransitions fallback="none" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title=`${me}'s Blog`
      href={`${Astro.site}rss.xml`}
    />
  </head>
  <body>
    <a class="skip-nav" href="#main">Skip navigation</a>
    <div id="body-content">
      <Header />
      <main id="main" transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
